<div class="bg-[#04111d] w-64 p-6 hidden border-b-2 border-r-2 border-[#162A3E] sm:block rounded-br-lg">
    <nav class="bg-[#6b9d9ec6] border-2 border-[#162A3E] rounded-md">
        <a routerLink="/admin/authors" routerLinkActive="bg-[#44686a]" class="tabs rounded-t border-b border-gray-700 ">
            <fa-icon [icon]="faUsers"></fa-icon> Авторы
        </a>
        <a routerLink="/admin/albums" routerLinkActive="bg-[#44686a]" class="tabs border-b border-gray-700">
            <fa-icon [icon]="faFolderOpen"></fa-icon> Альбомы
        </a>
        <a routerLink="/admin/playlists" routerLinkActive="bg-[#44686a]" class="tabs border-b border-gray-700">
            <fa-icon [icon]="faFolder"></fa-icon> Плейлисты
        </a>
        <a routerLink="/admin/users" routerLinkActive="bg-[#44686a]" class="tabs border-b border-gray-700">
            <fa-icon [icon]="faUserGroup"></fa-icon> Пользователи
        </a>
        <a routerLink="/admin/tracks" routerLinkActive="bg-[#44686a]" class="tabs rounded-b">
            <fa-icon [icon]="faMusic"></fa-icon> Треки
        </a>
    </nav>
</div>