<footer class="text-gray-400 bg-[#04111D] body-font">
    <div class="container px-5 py-8 mx-auto flex items-center justify-start space-x-4">
        <a class="flex font-medium items-center text-white whitespace-nowrap">
            <img src="assets/title.png" alt="Logo" class="h-10">
            <span class="ml-3 text-xl">SFM</span>
        </a>
        <p class="text-sm sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 margin_p">© 2024 SongFinalMix — Fullstack SkelFin
        </p>
    </div>
</footer>