<div class="flex flex-col h-screen bg-cover bg-center bg-no-repeat" style="background-image: url('assets/Home.jpg');">
  <app-header></app-header>
  <div class="flex-1 flex overflow-hidden border-y-2 border-[#162A3E] ">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="flex-1 p-6 overflow-auto">
      <div class="h-full p-8 bg-[#0a1928] border-2 border-[#162A3E] rounded shadow-md overflow-auto">
        <app-admin-form-tracks></app-admin-form-tracks>
        <div class="divider"></div>
        <app-admin-table-tracks></app-admin-table-tracks>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>