<div class="p-4">
    <table class="w-full table-fixed">
        <thead class="border-b border-gray-700">
            <tr>
                <th class="w-8 pb-2 text-center">#</th>
                <th class="w-4/5 pb-2 pl-2 text-left">Название</th>
                <th class="w-5 pb-2 text-left"></th>
                <th class="w-8 pb-2 text-center"><fa-icon [icon]="faClock" class=""></fa-icon></th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b border-gray-700">
                <td class="py-4 text-center">1</td>
                <td class="pl-2 text-left">
                    <div class="truncate">Awake Return</div>
                    <div class="truncate text-gray-400 text-sm">Skl</div>
                </td>
                <td class="text-center"><fa-icon [icon]="faCircle" class=""></fa-icon></td>
                <td class="text-center">2:07</td>
            </tr>
        </tbody>
    </table>
</div>