<div class="p-4">
    <table class="w-full table-fixed">
        <thead class="border-b border-gray-700">
            <tr>
                <th class="w-8 pb-2 text-center">#</th>
                <th class="w-4/5 pb-2 pl-2 text-left">Название</th>
                <th class="w-5 pb-2 text-left"></th>
                <th class="w-8 pb-2 text-center"><fa-icon [icon]="faClock" class=""></fa-icon></th>
            </tr>
        </thead>
        <tbody>
            @for (track of album?.tracks; track track.id; let i = $index) {
            <tr class="border-b border-gray-700" (click)="playTrack(track.id)">
                <td class="py-4 text-center">
                    <span>
                        {{ i + 1 }}
                    </span>
                </td>
                <td class="pl-2 text-left">
                    <div class="truncate">
                        <span>
                            {{ track.name }}
                        </span>
                    </div>
                    <div class="truncate text-gray-400 text-sm">
                        <span class="hover:underline cursor-pointer">
                            {{ getAuthors() }}
                        </span>
                    </div>
                </td>
                <td class="text-center">
                    <span>
                        <fa-icon [icon]="faCircle" class=""></fa-icon>
                    </span>
                </td>
                <td class="text-center">
                    <span>
                        {{ track.duration }}
                    </span>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>