<div class="font flex flex-col h-screen bg-cover bg-center bg-no-repeat"
    style="background-image: url('assets/Home.jpg');">
    <div class="flex-1 flex overflow-hidden border-y-2 border-[#162A3E]">
        <app-user-sidebar></app-user-sidebar>
        <div class="flex flex-col flex-1 overflow-hidden">
            <app-header></app-header>
            <div class="flex-1 flex flex-col bg-[#0a1928] shadow-md overflow-auto">
                <app-user-info></app-user-info>
                <div class="p-5">
                    <app-user-profile-playlists></app-user-profile-playlists>
                </div>
                <app-footer class="mt-auto"></app-footer>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>