<div class="font flex flex-col min-h-screen">
  <app-header></app-header>
  <div class="bg-cover bg-center bg-no-repeat border-y-2 border-[#162A3E] flex flex-1 justify-center items-center"
    style="background-image: url('assets/Home.jpg');">
    <form [formGroup]="userData" (ngSubmit)="onSubmit()"
      class="flex flex-col max-w-sm w-full px-4 py-5 rounded border border-slate-600 bg-[#04111D]">
      <h1 class="text-center text-lg font-bold mb-5">Зарегистрировать аккаунт</h1>
      <div class="flex flex-col">

        <input formControlName="nickname" required="" type="text" placeholder="Nickname" id="nickname" class="input" pattern="^[^\s]+$">
        @if (userData.controls['nickname'].invalid && (userData.controls['nickname'].dirty ||
        userData.controls['nickname'].touched)) {
        <div class="text-red-500 text-xs mt-2">Введите никнейм</div>
        }

        <input formControlName="email" required type="email" placeholder="Email" id="email" class="input mt-6">
        @if (userData.controls['email'].invalid && (userData.controls['email'].dirty || userData.controls['email'].touched)) {
        @if (userData.controls['email'].hasError('required')) {
        <div class="text-red-500 text-xs mt-2">Введите email</div>
        }
        @if (userData.controls['email'].hasError('email')) {
        <div class="text-red-500 text-xs mt-2">Некорректный email</div>
        }
        }

        <input formControlName="password" required="" type="password" placeholder="Пароль" id="password"
          class="input mt-6">
        @if (userData.controls['password'].invalid && (userData.controls['password'].dirty ||
        userData.controls['password'].touched)) {
        @if (userData.controls['password'].hasError('minlength')) {
        <div class="text-red-500 text-xs mt-2">Пароль должен быть от 6 символов</div>
        }
        @else if (userData.controls['password'].hasError('maxlength')) {
        <div class="text-red-500 text-xs mt-2">Пароль должен быть до 20 символов</div>
        }@else {
        <div class="text-red-500 text-xs mt-2">Введите пароль</div>
        }
        }

      </div>
      <div class="flex justify-center mt-6 mb-5">
        <button [disabled]="!userData.valid" class="btn py-2 px-6">Зарегистрироваться</button>
      </div>
      <div class="flex justify-center">
        <span>
          Уже есть аккаунт? <a routerLink="/login" class="font-bold cursor-pointer text-[#7eb9ba]
      hover:text-[#6a9fa2] active:text-[#568689]">Войдите в него.</a>
        </span>
      </div>
    </form>
  </div>
  <app-footer></app-footer>
</div>
