@if(album) {
<div class="fixed inset-0 bg-gray-950 backdrop-blur-md bg-opacity-50 overflow-y-auto" (click)="closeModal()">
    <div class="relative top-20 mx-auto p-5 border border-[#162A3E] w-96 shadow-lg rounded-md bg-[#0a1928]" @slideInOut
        (click)="$event.stopPropagation()">
        <div class="px-4 py-3">
            <form (ngSubmit)="saveAlbum()">
                <h1 class="bold mb-4 text-center">Изменить альбом</h1>
                <div class="flex flex-col mt-6">
                    <input [(ngModel)]="nameModel" name="name" #name="ngModel" [ngModelOptions]="{standalone: true}"
                        required="" type="text" placeholder="Название" id="name" class="input">
                    @if (name.invalid && name.touched) {
                    <div class="text-red-500 text-xs mt-2">Введите никнейм</div>
                    }
                    <textarea [(ngModel)]="descriptionModel" name="description" #description="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        class="resize-y overflow-auto textarea mt-5 min-h-11 max-h-72"
                        placeholder="Описание"></textarea>
                </div>
                <div class="flex flex-col">
                    <input [(ngModel)]="yearModel" name="year" #year="ngModel" [ngModelOptions]="{standalone: true}"
                        min="1800" max="2024" required type="number" placeholder="Год создания" id="year"
                        class="input w-36 mt-5">
                    @if (year.invalid && (year.dirty || year.touched)) {
                    <div class="text-red-500 text-xs mt-1">Введите год от 1800 до 2024</div>
                    }
                    <textarea [(ngModel)]="authorIdsModel" name="authorIds" #authorIds="ngModel"
                    [ngModelOptions]="{standalone: true}"
                    class="resize-y overflow-auto textarea mt-5 min-h-11 max-h-72"
                    placeholder="ID автора/ов (через пробел)"></textarea>
                    <textarea [(ngModel)]="trackIdsModel" name="trackIds" #trackIds="ngModel"
                    [ngModelOptions]="{standalone: true}"
                    class="resize-y overflow-auto textarea mt-5 min-h-11 max-h-72"
                    placeholder="ID тека/ов (через пробел)"></textarea>
                </div>
                <label class="block text-sm font-semibold mt-5 mb-3">
                    Выберите аватар
                </label>
                <input class="block filewidth text-sm text-white
                                file:mr-2 file:py-2 file:px-2
                                file:rounded-full file:border-0
                                file:font-semibold file:cursor-pointer 
                                file:bg-[#6B9D9E] file:text-white
                                file:active:bg-[#44686a]
                                hover:file:bg-[#5a888a]
                                file:active:text-gray-300  
                                file:duration-500 mb-5" accept=".jpg, .jpeg, .png, .gif"
                    (change)="fileChangeEvent($event)" type="file">
                <div class="flex items-end justify-between">
                    <button class="btn py-2 px-6" [disabled]="!formValid()"> Сохранить </button>
                    <button (click)="closeModal()" class="btn px-6 py-2">
                        Закрыть
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
}