/* Скрыть стрелки для input[type=number] */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1{
    font-weight: 700
}
.filewidth {
    width: 247px;
}