<div class="px-4 py-2 bg-[#04111D] flex items-center justify-between">
  <!-- Track Info -->
  <div class="flex items-center flex-1 truncate min-w-32 max-w-xs">
    <img [src]="(currentTrack$ | async)?.avatar ? 'server/track_avatar/' + (currentTrack$ | async)?.avatar : 'server/track_avatar/plug.png'" 
         alt="Track Avatar" 
         class="w-16 h-16 mr-2 border-2 border-[#162A3E] object-cover select-none rounded-md pointer-events-none">
    <div>
      <h3 class="text-lg font-semibold">{{ (currentTrack$ | async)?.name }}</h3>
      <p class="text-gray-400 truncate">{{ getAuthors(currentTrack$ | async) }}</p>
    </div>
  </div>

  @if ((currentTrack$ | async)) {
    <app-adding-button-audio-player (click)="$event.stopPropagation()" [trackId]="(currentTrack$ | async)?.id ?? 0"></app-adding-button-audio-player>
  }

  <!-- Player Controls -->
  <div class="flex flex-col items-center justify-center mx-4 w-1/2">
    <div class="flex items-center">
      <button (click)="previousTrack()" class="p-2 mt-1 hover:text-gray-400 active:text-gray-500">
        <fa-icon [icon]="faBackward" class="fa-lg"></fa-icon>
      </button>
      <button (click)="togglePlay()" class="w-12 h-12 p-2 mx-2 btn-play-player">
        <fa-icon *ngIf="!(isPlaying$ | async)" [icon]="faCirclePlay" class="fa-2xl"></fa-icon>
        <fa-icon *ngIf="(isPlaying$ | async)" [icon]="faCirclePause" class="fa-2xl"></fa-icon>
      </button>
      <button (click)="nextTrack()" class="p-2 mt-1 hover:text-gray-400 active:text-gray-500">
        <fa-icon [icon]="faForward" class="fa-lg"></fa-icon>
      </button>
    </div>
         
    <!-- Progress Bar -->
    <div class="flex items-center justify-center w-full">
      <span class="text-sm text-gray-400 w-12 text-center">{{ formatTime((currentTime$ | async) ?? 0) }}</span>
      <input type="range" min="0" [max]="(duration$ | async) ?? 0" [value]="(currentTime$ | async) ?? 0" (input)="seekTrack($event)" class="mx-4 flex-1 audio-progress-bar">
      <span class="text-sm text-gray-400 w-12 text-center">{{ formatTime((duration$ | async) ?? 0) }}</span>
    </div>
  </div>

  <!-- Volume Controls -->
  <div class="flex items-center flex-1 justify-end max-w-xs ml-2 truncate">
    <button (click)="toggleMute()" class="p-2 text-white hover:text-gray-400">
      <fa-icon *ngIf="volume == 0" [icon]="faVolumeMute"></fa-icon>
      <fa-icon *ngIf="volume > 0 && volume <= 0.4" [icon]="faVolumeLow"></fa-icon>
      <fa-icon *ngIf="volume > 0.4" [icon]="faVolumeUp"></fa-icon>
    </button>
    <input type="range" min="0" max="1" step="0.01" [(ngModel)]="volume" (input)="setVolume($event)" class="w-24 ml-2 truncate styled-range">
  </div>
</div>