<div class="flex items-center">
    <div class="arrows ml-3 mb-2" [class.opacity-50]="!canScrollLeft" [class.cursor-not-allowed]="!canScrollLeft"
        (click)="canScrollLeft && scrollLeft()">
        <fa-icon [icon]="faArrowLeft" class="fa-lg"></fa-icon>
    </div>
    <div class="arrows ml-2 mb-2" [class.opacity-50]="!canScrollRight" [class.cursor-not-allowed]="!canScrollRight"
        (click)="canScrollRight && scrollRight()">
        <fa-icon [icon]="faArrowRight" class="fa-lg"></fa-icon>
    </div>
</div>