<div class="p-6">
    <table class="w-full table-fixed">
        <thead class="border-b border-gray-700">
            <tr>
                <th class="w-8 pb-2 text-center">#</th>
                <th class="w-2/5 pb-2 pl-2 text-left">Название</th>
                <th class="w-2/5 pb-2 text-left">Альбом</th>
                <th class="w-5 pb-2 text-left"></th>
                <th class="w-8 pb-2 text-center"><fa-icon [icon]="faClock" class=""></fa-icon></th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b border-gray-700">
                <td class="py-4 text-center">1000</td>
                <td class="pl-2 text-left">
                    <div class="truncate">Название asdaisd ajisdj paosd jaksd kasda</div>
                    <div class="truncate text-gray-400 text-sm">Исполнитель asdkjaskjd asjd oajoid ajoid</div>
                </td>
                <td class="truncate text-left">Альбом alfknhakf asoif k afpiasjoifjafjaojso </td>
                <td class="text-center"><fa-icon [icon]="faCircle" class=""></fa-icon></td>
                <td class="text-center">12:38</td>
            </tr>
        </tbody>
    </table>
</div>