@if (showModal) {
    <app-admin-popup-albums [album]="selectedAlbum" (close)="closeModal()"></app-admin-popup-albums>
    }
<pagination-controls previousLabel="Предыдущий" nextLabel="Следующий"
    class="flex text-xs justify-end pagination-controls" (pageChange)="currentPage = $event">
</pagination-controls>
<table class="w-full shadow rounded overflow-hidden border-separate border-spacing-2 border border-slate-400">
    <thead class=" text-white bg-[#6b9d9ec6]">
        <tr>
            <th class="border border-slate-500">№</th>
            <th class="border border-slate-500">ID</th>
            <th class="border border-slate-500">Название</th>
            <th class="border border-slate-500">Описание</th>
            <th class="border border-slate-500">Аватар</th>
            <th class="border border-slate-500">Год вып.</th>
            <th class="border border-slate-500">ID автора</th>
            <th class="border border-slate-500">ID трека</th>
            <th class="w-40 border border-slate-500">Дата создания</th>
            <th class="w-40 border border-slate-500">Дата обновления</th>
            <th class="w-28 border border-slate-500">Действия</th>
        </tr>
    </thead>
    @for (album of albums |paginate: { itemsPerPage: 5, currentPage }; track album.id; let i = $index) {
    <tbody class="text-center">
        <tr>
            <td class="border border-slate-500">{{ i + 1 }}</td>
            <td class="border border-slate-500">{{ album.id }}</td>
            <td class="border border-slate-500">{{ album.name }}</td>
            <td class="border border-slate-500">{{ album.description | truncate }}</td>
            <td class="border border-slate-500">{{ album.avatar | truncate }}</td>
            <td class="border border-slate-500">{{ album.year }}</td>
            <td class="border border-slate-500">{{ getAuthors(album) | truncate }}</td>
            <td class="border border-slate-500">{{ getTrackIds(album) | truncate }}</td>
            <td class="border border-slate-500">{{ album.createdAt }}</td>
            <td class="border border-slate-500">{{ album.updatedAt }}</td>
            <td class="flex justify-evenly">
                <button class="btn-table text-green-500 hover:text-green-400" (click)="openModal(album)">
                    <fa-icon [icon]="faPenToSquare" class=""></fa-icon>
                </button>
                 <button class="btn-table text-red-600 hover:text-red-500" (click)="deleteAlbum(album.id)">
                    <fa-icon [icon]="faTrash" class=""></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
    }
</table>