<div class="font flex flex-col h-screen">
  <app-header></app-header>
  <div class="flex-grow">
    <div class="bg-cover bg-center bg-no-repeat border-y-2 border-[#162A3E] flex flex-col items-center justify-center h-full" style="background-image: url('assets/Home.jpg');">
      <div class="bg-[#04111D]/90 p-4 rounded-lg text-center">
        <h1 class="text-5xl font-extrabold mb-8">Приветствуем в SFM!</h1>
        <div class="text-lg max-w-md mx-auto">
          Путешествие в мир музыки начинается здесь. Исследуйте вселенную музыки и найдите свой ритм.
        </div>
        <button routerLink="login" class="btn py-2 px-6 mt-6" type="button">Начать прослушивание</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
