<div class="flex p-5 " style="background-image: linear-gradient(to bottom, #04111D, #0a1928);">
    @if (album) {
    <img [src]="'server/album_avatar/' + album.avatar" [alt]="album.name" alt="Картинка"
        class="w-48 h-48 object-cover rounded border-2 border-[#162A3E]">
    <div class="pl-5 flex flex-col justify-center select-none truncate">
        <div class="text-sm font-semibold ml-1">Альбом</div>
        <div class="text-7xl h-20 font-bold truncate">{{ album.name }}</div>
        @if (album.description) {
        <div class="line-clamp-2 text-gray-300 font-medium overflow-hidden text-base ml-1 mb-1">
            {{ album.description }}
        </div>
        }
        <div class="text-base mb-5 ml-1">
            {{ album.year }} г. • {{ album.tracks.length }} {{ album.tracks.length | plural:['трек', 'трека', 'треков']
            }}
        </div>
    </div>
    }
</div>