@if (showModal) {
<app-playlist-popup [playlist]="playlist" class="fixed z-50" (close)="closeModal()"></app-playlist-popup>
}
<div class="flex p-5" style="background-image: linear-gradient(to bottom, #04111D, #0a1928);">
    <div class="relative group w-48 h-48 flex-shrink-0">
        <img [src]="'server/playlist_avatar/' + playlist?.avatar" [alt]="playlist?.name"
            class="w-full h-full object-cover rounded border-2 border-[#162A3E]">
        @if (isCreator && !isFirstPlaylist) {
        <div class="absolute inset-0 cursor-pointer bg-black bg-opacity-50 flex flex-col justify-center items-center rounded opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out"
            (click)="openModal()">
            <fa-icon [icon]="faPen" class="fa-2xl"></fa-icon>
            <span class="mt-2 select-none">Изменить</span>
        </div>
        }
    </div>
    <div class="pl-5 flex flex-col justify-center select-none truncate">
        <div class="text-sm font-semibold ml-1">Плейлист</div>
        <div class="text-7xl h-20 font-bold cursor-pointer truncate"
            [ngClass]="{'cursor-pointer': isCreator && !isFirstPlaylist}"
            (click)="isCreator && !isFirstPlaylist ? openModal() : null">{{ playlist?.name }}</div>
            @if (playlist?.description) {
                <div class="line-clamp-2 cursor-pointer text-gray-300 font-medium overflow-hidden text-base ml-1 mb-1"
                [ngClass]="{'cursor-pointer': isCreator && !isFirstPlaylist}"
                (click)="isCreator && !isFirstPlaylist ? openModal() : null">
                {{ playlist?.description }}
            </div>
            }
        <div class="text-base mb-5 ml-1">
            <span class="font-semibold">Треков</span> в плейлисте - {{ playlist?.tracks?.length }}
        </div>
    </div>
</div>