<div class="flex">
    <div class="relative group w-48 h-48 flex-shrink-0">
        <img src="../../../../assets/3.png" alt="Картинка"
            class="w-full h-full object-cover rounded border-2 border-[#162A3E]">
        <div
            class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center rounded opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out">
            <fa-icon [icon]="faPen" class="fa-2xl"></fa-icon>
            <span class="mt-2 select-none">Изменить</span>
        </div>
    </div>
    <div class="pl-5 flex flex-col justify-center select-none">
        <div class="text-sm font-semibold ml-1">Плейлист</div>
        <div class="text-7xl font-bold mb-4">Return</div>
        <div class="line-clamp-2 text-gray-300 font-medium overflow-hidden text-base ml-1 mb-2">
            Описание плейлиста здесь. Это текст может быть очень длинным и содержать много информации о плейлисте,
            включая авторов треков, стили музыки и многое другое. Продолжение описания, которое не должно отображаться
            полностью, если оно слишком длинное.
        </div>
        <div class="text-base mb-5 ml-1">
            <span class="font-semibold">Треков</span> в плейлисте - 35
        </div>
    </div>
</div>