<div class="flex">
    <img src="../../../../assets/3.png" alt="Картинка"
        class="w-48 h-48 border-2 border-[#162A3E] object-cover select-none rounded pointer-events-none">
    <div class="pl-5 flex flex-col justify-center select-none">
        <div class="text-sm font-semibold">Плейлист</div>
        <div class="text-7xl font-bold mb-4">Return</div>
        <div class="line-clamp-2 text-gray-300 font-medium overflow-hidden text-base mb-2 my_shift">
            Описание плейлиста здесь. Это текст может быть очень длинным и содержать много информации о плейлисте,
            включая авторов треков, стили музыки и многое другое. Продолжение описания, которое не должно отображаться
            полностью, если оно слишком длинное.
        </div>
        <div class="text-base mb-5">
            <span class="font-semibold">Треков</span> в плейлисте - 35
        </div>
    </div>
</div>