@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,501;1,501&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@layer components {
    .font {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 501;
        font-style: normal;
      }

    .input {
        @apply bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-1 focus:ring-sky-400 rounded border border-gray-600 focus:border-sky-300 outline-none text-gray-100 py-1 px-3 leading-8 duration-500
    }

    .textarea {
        @apply bg-gray-600 bg-opacity-20 focus:bg-transparent rounded outline-none text-gray-100 py-1 px-3 leading-8;
        @apply border border-gray-600 focus:border-sky-300 focus:ring-1 focus:ring-sky-400;
        @apply transition-colors duration-500;
    }

    .btn {
        @apply text-white bg-[#6B9D9E] font-semibold rounded-full hover:bg-[#5a888a] hover:shadow-lg hover:scale-105 active:bg-[#44686a] active:text-gray-300 active:shadow-none disabled:opacity-50 disabled:cursor-not-allowed transition duration-500 ease-in-out transform;
    }

    .btn_side_bar {
        @apply text-white bg-[#6B9D9E] font-semibold rounded-full hover:bg-[#5a888a] hover:scale-110 active:bg-[#44686a] active:text-gray-300 active:shadow-none disabled:opacity-50 disabled:cursor-not-allowed transition duration-300 ease-in-out transform;
    }

    .tabs {
        @apply text-white block py-2.5 px-4 transition duration-300 hover:bg-[#466b6e] active:bg-[#385658] select-none cursor-pointer
    }
    
    .pl_block {
        @apply transition duration-300 hover:bg-[#466b6e] active:bg-[#385658] select-none cursor-pointer
    }

    .arrows {
        @apply text-white flex justify-center items-center w-9 h-9 bg-[#6b9d9e86]
        bg-opacity-50 rounded-full cursor-pointer select-none transition duration-300 hover:bg-opacity-75 hover:scale-110
    }

    .btn-table {
        @apply cursor-pointer rounded-md p-1 px-2 bg-slate-600 hover:bg-slate-500 active:bg-slate-700
    }

    .ngx-pagination .current {
        background: #6B9D9E !important;
    }

    .ngx-pagination li a {
        /* Новый цвет фона при наведении */
        color: white;
        /* Новый цвет текста при наведении */
    }

    .ngx-pagination li a:hover {
        /* Новый цвет фона при наведении */
        background: #44686a
            /* Новый цвет текста при наведении */
    }


    .btn-delete-form {
        @apply cursor-pointer rounded-r-lg p-1 px-2 bg-slate-600 hover:bg-slate-500 active:bg-slate-700
    }

    .input-with-btn-form {
        @apply bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-1 focus:ring-sky-400 rounded-l-lg border border-gray-600 focus:border-sky-300 outline-none text-gray-100 py-1 px-3 leading-8 duration-500
    }    

    .divider {
        height: 2px;
        background-color: #162A3E;
        margin: 20px 0;
    }

    .filewidth {
        width: 265px;
    }

    .bold {
    font-weight: 700;
}
}